<%- partial('partial/image_header', {titleUrl: '/', title: config.title, images: headerImgs('data/headers')}) %>

<div class="wrapper main">
    <% page.posts.each(function(post){ %>
        <%- partial('partial/post_tile', {post: post}) %>
    <% }) %>

    <div class="footer-navigation">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev_link) %>" class="previous">novější zápisky</a>
            <a class="home" href="<%-url_for('') -%>">nejnovější zápisky</a>
        <% } %>
        <% if (page.next){ %>
            <a href="<%- url_for(page.next_link) %>" class="previous">starší zápisky</a>
        <% } %>
    </div>
</div>