<% var headers = headerImgs('data/headers') %>
<div class="image-header" style="background-image: url(/data/just_transparent.png);" data-imgs="<%- htmlEscape(JSON.stringify(headers)) %>">
    <h1><a href="<%-url_for('') -%>"><%-config.title -%></a></h1>
</div>

<div class="wrapper main">
    <% page.posts.each(function(post){ %>
        <%- partial('partial/post_tile', {post: post}) %>
    <% }) %>

    <div class="footer-navigation">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev_link) %>" class="previous">novější zápisky</a>
            <a class="home" href="<%-url_for('') -%>">nejnovější zápisky</a>
        <% } %>
        <% if (page.next){ %>
            <a href="<%- url_for(page.next_link) %>" class="previous">starší zápisky</a>
        <% } %>
    </div>
</div>