<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= page.title ? page.title + ' | ' : '' %><%= config.title %></title>
	<link rel="shortcut icon" type="image/png" href="<%- url_for('data/favicon.png') -%>"/>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
	<%- css('assets/css/style.css') %>
	<%- css('assets/css/lightgallery.min.css') %>

	<%- open_graph({
		image: page.featured || url_for('data/header.jpg'),
		title: (page.title ? page.title + ' | ' : '') + config.title
	}) %>
</head>
<body>
	<%- body %>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<%- js('assets/js/lightgallery.min.js') %>
	<%- js('assets/js/scripts.js') %>
</body>
</html>
