<%- partial('partial/image_header', {title: entag(page.tag), images: page.posts.data.map(post => post.path + post.featured)}) %>

<div class="wrapper">
	<div class="info-header">
		<%
			var c = page.posts.length,
				notes = c < 2 ? 'zápisek' : ( c < 5 ? 'zápisky' : 'zápisků')
		%>
		<span class="date"><%- page.posts.length + ' ' +  notes-%></span>
		<a class="home" href="<%-url_for('') -%>">všechny zápisky</a>
	</div>
	<% page.posts.each(function(post){ %>
		<%- partial('partial/post_tile', {post: post}) %>
	<% }) %>
	<div class="footer-navigation">
		<a class="home" href="<%-url_for('') -%>">všechny zápisky</a>
	</div>
</div>
