<% var headers = [];
	for(i in page.posts.data){
		headers.push(page.posts.data[i].path + page.posts.data[i].featured)
	}
 %>
<div class="image-header" style="background-image: url(/data/just_transparent.png);" data-imgs="<%- htmlEscape(JSON.stringify(headers)) %>">
	<h1><%- entag(page.tag) -%></h1>
</div>

<div class="wrapper">
	<div class="info-header">
		<%
			var c = page.posts.length,
				notes = c < 2 ? 'zápisek' : ( c < 5 ? 'zápisky' : 'zápisků')
		%>
		<span class="date"><%- page.posts.length + ' ' +  notes-%></span>
		<a class="home" href="<%-url_for('') -%>">všechny zápisky</a>
	</div>
	<% page.posts.each(function(post){ %>
		<%- partial('partial/post_tile', {post: post}) %>
	<% }) %>
	<div class="footer-navigation">
		<a class="home" href="<%-url_for('') -%>">všechny zápisky</a>
	</div>
</div>
