<div class="post-tile" href="<%- url_for(post.path) %>">
    <a
        href="<%- url_for(post.path) %>"
        class="tile-header"
        style="background-image: url(<%- image_version(url_for(post.path + post.featured), {prefix: 'thumbnail'}) -%>);"
    ></a>
    <div class="tile-details">
        <div class="tile-heading">
            <h3>
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </h3>
            <span class="date"><%= date(post.date) %></span>
        </div>
        <div class="excerpt">
            <%- post.excerpt || truncate(post.content, {length: 250}) %>
        </div>
    </div>
</div>
